*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
height: 100%;
width: 100%;
font-family: "Source sans pro", sans-serif;
}

body {
display: flex;
flex-direction: column;
}

.app-container {
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
}

.form-container {
display: flex;
flex-direction: column;
justify-content: center;
background: #ffffff;
max-height: 100%;
width: 100%;
align-items: center;
}

.form-container {
  margin-top: 5px;
  padding-top: 3rem;
  }

.form-group {
display: flex;
flex-direction: column;
margin: 10px 0;
width: 500px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex-basis: 49%;
}

.checkbox-group {
flex-direction: row;
align-items: center;
}

.checkbox-group label {
font-size: 0.825rem;
margin-left: 10px;
}

.form-group label {
color: #290238;
font-weight: 500;
}

.form-group input {
padding: 12px;
border: none;
border-radius: 5px;
outline: none;
background-color: #ffffff;
color: #16033f;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
outline: 1px solid 444;
}

.form-group input::placeholder {
color: #12023d;
}

.form-group .input-error {
outline: 1px solid rgb(155, 55, 202);
}

.form-group .error-message {
color: rgb(176, 45, 180);
font-size: 0.75rem;
margin-top: 8px;
}

.form-group select {
padding: 12px;
border: none;
border-radius: 5px;
outline: none;
background-color: #faf8f8;
color: #252323;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

.form-group button {
border: none;
padding: 10px;
border-radius: 5px;
color: #eee;
background-color: #642df6;
font-weight: 500;
font-size: 1rem;
margin-top: 10px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
transition: all 500ms ease;
}

.form-group button:hover {
cursor: pointer;
background-color: #473279;
}

.input-error {
  border: 1px solid rgb(149, 39, 212);
}

.form-group-button-add {
  background-color: #642fd6;
  color: #fff;
  font-size: 2em;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group-button-add:hover {
  background-color: #7b4ed6;
}

.align-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}